* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40pt;
    font-weight: 900;
    background-color: #2980b9;
    color: white;
    text-shadow: 1px 13px 5px rgba(0, 0, 0, .2);
}
p {
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(10deg);
    }
    75% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}